- name: generate docker secrets for authelia
  community.docker.docker_secret:
    name: "{{ item.key}}"
    data: "{{ item.value }}"
    state: present
  loop: "{{ authelia | dict2items }}"

- name: copy files to auth server/VM
  ansible.builtin.copy:
    src: "{{role_path}}/files/{{ item }}"
    dest: "{{ansible_env.HOME}}/authelia/"
    owner: homelab
    mode: '655'
  loop:
  - docker-compose.yml
  - config

- name: Run docker swarm stack of authelia
  community.docker.docker_stack:
    name: authelia
    state: present
    compose: "{{ ansible_env.HOME }}/authelia/docker-compose.yml"
