services:
  auth_db:
    image: postgres:alpine
    volumes:
      - /home/homelab/postgres/data:/var/lib/postgresql/18/docker
      - /home/homelab/postgres/init:/docker-entrypoint-initdb.d
    secrets:
      - authelia_db_password
      - lldap_db_password
      - postgres_password
    networks:
      - auth
    environment:
       POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password

networks:
  auth:

secrets:
  authelia_db_password:
      external: true
  lldap_db_password:
      external: true
  postgres_password:
      external: true