{
    local_certs
    servers {
        trusted_proxies static 192.168.2.0/24
        }
}

auth.home.com {
        reverse_proxy https://authelia:9091 {
                transport http {
                        tls_insecure_skip_verify
                }
        }
}

#authelia forward auth snippet

(authelia) {
        forward_auth https://authelia:9091 {
                transport http {
                        tls_insecure_skip_verify
                }
                uri /api/authz/forward-auth
                copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
        }
}

#update FQDN
homepage.home.com {
        import authelia
        reverse_proxy homepage:3000
}

#update FQDN
actual.home.com {
        reverse_proxy actualBudget:5006
}