- name: Create LLDAP secrets
  community.docker.docker_secret:
    name: "{{ item.key}}"
    data: "{{ item.value }}"
    state: present
  loop: "{{ lldap | dict2items }}"

- name: copy data folder and docker compose for lldap
  ansible.builtin.copy:
    src: "{{ role_path }}/files/{{ item }}"
    dest: "{{ ansible_env.HOME }}/lldap/"
    owner: homelab
    mode: '655'
  loop:
  - docker-compose.yml
  - data

- name: deploy lldap stack
  community.docker.docker_stack:
    name: lldap
    state: present
    compose: "{{ ansible_env.HOME }}/lldap/docker-compose.yml"
