- name: Create postgres secrets
  community.docker.docker_secret:
    name: "{{ item.key}}"
    data: "{{ item.value }}"
    state: present
  loop: "{{ postgres | dict2items }}"

- name: copy docker compose file to auth server/VM
  ansible.builtin.copy:
    src: "{{role_path}}/files/docker-compose.yml"
    dest: "{{ansible_env.HOME}}/postgres/"
    owner: homelab
    mode: '655'

- name: copy 00-entrypoint.sh to auth server/VM
  ansible.builtin.copy:
    src: "{{role_path}}/files/00-entrypoint.sh"
    dest: "{{ansible_env.HOME}}/postgres/init/"
    owner: homelab
    mode: '755'

- name: create docker volume for postgres data
  community.docker.docker_volume:
    name: pgdata
    state: present
    recreate: "never"

- name: Run docker swarm stack of postgres
  community.docker.docker_stack:
    name: authDB
    state: present
    compose: "{{ansible_env.HOME}}/postgres/docker-compose.yml"
