- name: copy caddy configs and docker compose
  ansible.builtin.copy:
    src: "/home/homelab/homelab/authentication_service/roles/caddy/files/{{ item }}"
    dest: '/home/homelab/caddy/'
    owner: homelab
    mode: '655'
  loop:
  - caddy_config
  - docker-compose.yml

- name: create data folder for caddy backup
  ansible.builtin.file:
    path: '/home/homelab/caddy/caddy_data'
    state: directory
    owner: homelab
    mode: '755'

- name: run docker stack
  community.docker.docker_stack:
    name: caddy
    state: present
    compose: /home/homelab/caddy/docker-compose.yml
