- name: copy caddy configs and docker compose
  ansible.builtin.copy:
    src: "{{ role_path }}/files/{{ item }}"
    dest: '{{ ansible_env.HOME }}/caddy/'
    owner: homelab
    mode: '655'
  loop:
  - caddy_config
  - docker-compose.yml

- name: create DOCKER volume for caddy data
  community.docker.docker_volume:
    name: caddy_data
    state: present
    recreate: "never"

- name: run docker stack
  community.docker.docker_stack:
    name: caddy
    state: present
    compose: "{{ ansible_env.HOME }}/caddy/docker-compose.yml"
