log:
  level: 'debug'
  format: 'text'
  file_path: '/config/log.txt'
  keep_stdout: false

server:
  address: 'tcp://:9091/'
  tls:
    key: '/config/certs/key.pem'
    certificate: '/config/certs/cert.pem'
  endpoints:
    authz:
      forward-auth:
        implementation: 'ForwardAuth'
      # authn_strategies: []
identity_validation:

  reset_password:
    jwt_lifespan: '5 minutes'
    jwt_algorithm: 'HS256'
    #jwt_secret: 'run_secrets_identity_validation_jwt_secret'

authentication_backend:

  password_change:
    disable: false
  password_reset:
    disable: false
  refresh_interval: 'always'

  ldap:
    address: 'ldap://lldap:3890'
    implementation: 'lldap'
    base_dn: 'dc=home,dc=com'
    user: 'uid=authelia_admin,ou=people,dc=home,dc=com'
    additional_users_dn: 'ou=people'
    users_filter: '(&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))'
    additional_groups_dn: 'ou=groups'
    groups_filter: '(&(member={dn})(objectClass=groupOfNames))'
    group_search_mode: 'filter'
    attributes:
      username: 'uid'
      display_name: 'displayName'
      member_of: 'memberOf'
      group_name: 'cn'

storage:
  # key is setup by ansible vault and docker secret (storage_encrypting_key)
  #encryption_key: 'you_must_generate_a_random_string_of_more_than_twenty_chars_and_configure_this'
  postgres:
    address: 'tcp://authDB:5432'
    database: 'authelia'
    schema: 'authelia'
    username: 'authelia'
    timeout: '10 seconds'

session:
  cookies:
  - name: 'authelia_session'
    domain: 'home.com'
    authelia_url: 'https://auth.home.com'
  ## The secret to encrypt the session data. This is only used with Redis / Redis Sentinel.
  ## Secret can also be set using a secret: https://www.authelia.com/c/secrets
  #secret: 'insecure_session_secret'


notifier:
  disable_startup_check: false
  filesystem:
    filename: /config/notification.txt

access_control:
  default_policy: 'one_factor'
  # rules:
  ## Rules applied to everyone
  # - domain: 'public.example.com'
  #   policy: 'bypass'
